<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="googledrive01.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <googledrive01.Properties.Settings>
            <setting name="CLIENT_ID" serializeAs="String">
                <value>290928673113.apps.googleusercontent.com</value>
            </setting>
            <setting name="CLIENT_SECRET" serializeAs="String">
                <value>BNWwo6ZOKh7xCOq-Smw8UmGc</value>
            </setting>
            <setting name="RefreshToken" serializeAs="String">
                <value />
            </setting>
            <setting name="REDIRECT_URI" serializeAs="String">
                <value>urn:ietf:wg:oauth:2.0:oob</value>
            </setting>
            <setting name="SCOPES" serializeAs="String">
                <value />
            </setting>
        </googledrive01.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
